<div class="container my-4">
  <mat-card class="shadow-sm rounded-3">
    <div class="d-flex align-items-center mb-3">
      <mat-icon class="me-2 text-primary">account_circle</mat-icon>
      <h2 class="mb-0">My Account</h2>
    </div>

    <mat-divider></mat-divider>
    @if(userDetails$ | async; as userDetails){
      <div class="row mt-3">
        <!-- Left Column -->
        <div class="col-md-12">
          <h4 class="mb-3">Personal Info</h4>
          <p><strong>Name:</strong> {{ userDetails?.name }}</p>
          <p><strong>Email:</strong> {{ userDetails?.email }}</p>
          <p><strong>Phone number: </strong> {{ userDetails?.phoneNumber }}</p>

          @if(userDetails?.roles?.includes('HOUSEHELP')){
            <p><strong>Skills: </strong>
              @for (skills of userDetails?.houseHelp?.skills; track $index; let isLast = $last){
                <span class="small">{{ skills }} {{ !isLast ? ', ' : '' }}</span>
              }</p>
            <p><strong>Years of experience:</strong> {{ userDetails?.houseHelp?.yearsOfExperience ?? '-'}}</p>
            <p><strong>Status:</strong>
              <span
                class="badge"
                [ngClass]="houseHelpDetails?.active ? 'bg-success' : 'bg-danger'">
                                                                 {{ houseHelpDetails?.active ? 'Active' : 'Inactive' }}
              </span>
            </p>
            <p><strong>ID:</strong> {{ userDetails?.houseHelp?.nationalId ?? '-'}}</p>
            <p><strong>Good conduct: </strong> {{ userDetails?.houseHelp?.goodConduct ?? '-'}}</p>
            <p><strong>Medical report: </strong> {{ userDetails?.houseHelp?.medicalReport ?? '-'}}</p>

            <p><strong>Age:</strong> {{"-" }}</p>
            <p><strong>Height:</strong> {{ "-" }}</p>
            <p><strong>Weight:</strong> {{ "-" }}</p>
            <p><strong>Number of children:</strong> {{ "-" }}</p>
          }
        </div>
  @if(userDetails?.roles?.includes('HOMEOWNER'))
  {
    @if(houseHelpDetails$ |async; as homeOwnerDetails ){
      <div class="col-md-12">
        <p><strong>Status:</strong>
          <span
            class="badge"
            [ngClass]="homeOwnerDetails?.active ? 'bg-success' : 'bg-danger'">
                                                                 {{ homeOwnerDetails?.active ? 'Active' : 'Inactive' }}
              </span>
        </p>
        <p><strong>Number of children:</strong> {{homeOwnerDetails?.numberOfDependents ?? "-" }}</p>
        <p><strong>House size:</strong> {{homeOwnerDetails?.numberOfDependents + " bedroom" ?? '-'}}</p>
        <p><strong>Location:</strong> {{ homeOwnerDetails?.homeLocation ??  '-'}}</p>

      </div>
    }
  }

      </div>
    }

    <mat-divider class="my-3"></mat-divider>

    <div class="d-flex justify-content-end gap-2">
      <button mat-stroked-button color="primary" (click)="editAccount()">
        Edit Profile
      </button>
    </div>
  </mat-card>
</div>
